
#mymenu {
	display: none;
	position: absolute;
}
#mymenu img {
	border: none;
}
div.bigDiv {
	height: 3000px;
}

.draggableItem {border-bottom: 1px #b69bc5 dotted;}
.draggableItem p{cursor: move; }

.ori-draggable{
	width:auto !important; height: auto !important;
}  
.draggabled {
	width: 50px !important ; height: 50px !important ; 
	padding: 0.5em;  
    border-radius: 180px; text-align: center; z-index:10;
    background: #F90;
}
.draggabled p{
	cursor: move;
	color:white;
	width : 70px;
	white-space: nowrap;
	overflow:hidden;
	display:inline-block;
	text-overflow: ellipsis;
}

.seat { width: 60px; height: 60px; padding: 0.5em; 
                border-radius: 180px; text-align: center; z-index:1;
                position: absolute; }
.equipment { width: 400px; height: 400px;border-radius:200px;background: #d0a58a;color:white;
      text-align: center; position: absolute;}
.edit-mode { display: none;}

.equipment p, .seat p{cursor: default;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
      color:white;}
.seat p{color:black;}    

.targetBlock { clear: left;width:100%;min-height:800px;
                border-radius:10px; position: relative; margin: 10px 0;
                /*background-image: url('/LDAA/circle.png'); background-repeat: no-repeat; background-size: 750px;*/ 
}
.drophover{border:dotted;}
.grid { background-image: 
      repeating-linear-gradient(0deg,transparent,transparent 50px,#CCC 50px,#CCC 51px),
      repeating-linear-gradient(-90deg,transparent,transparent 50px,#CCC 50px,#CCC 51px);
      /*background-size: 51px 51px;*/
      }
      
.recover-btn{cursor:pointer;	display: inline ;background-image: none !important;border-bottom: 0 !important;}

.seat_table_label{
	background-color: #ffd72e;
	border-radius: 5px;
	margin: 0 2px;
	padding: 0 4px;
	color: white;
	font-size: 0.8em;
}




/*menu*/
.menu2 { border-radius: 3px; position: relative; z-index: 99; width: 188px; height: 100%; margin: 5px 0 0 5px; background: #fff; border: 1px solid #a68c7c; margin: 10px 0;}
.menu2 h3 { color: #FFF; font-size: 1.25em; padding: 5px 20px; margin: 0; background: #ff9000; text-align:center;}
.menu2 h3.color2 { background: #9d5f0f; }
.menu2 h3.color3 { background: #b7aa00; }
.menu2 div{margin: 0 10px 10px; }
.menu2 div a { display: block; color: #777777; font-size: 1em; font-weight: 600; padding: 8px 20px 8px 20px; background-image: url(../images/menu_icon01.gif); background-repeat: no-repeat; background-position: 5px 15px; border-bottom: 1px #b69bc5 dotted; margin-top: 5px; }
.menu2 div a:hover {  background-color:#777777; text-decoration:none; color: #FFF; }
.menu2 div a:active { background: #777777; color: #FFC; }

