<!DOCTYPE html>
<html layout:decorate="~{fragments/basic_layout.html}">

<head>
</head>

<body>
	<div id="page-wrapper" layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Todo</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create Todo Item
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form id="todoForm" action="#" role="form" method="post" th:action="@{/todo/save}" th:object="${todo}">
                                	<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
	                                	<ul>
											<li th:each="e : ${#fields.detailedErrors()}">
												<span th:text="${e.fieldName}">The field name</span> 
	        									<span th:text="${e.message}">The error message</span>
											</li>
										</ul>
									</div>
                                
                                	<div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" th:field="*{name}" >
                                    </div>
                                    <div class="form-group">
                                        <label>description</label>
                                        <input class="form-control" th:field="*{description}" size="150">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-primary">Reset</button>
                                </form>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        
        <div class="row">
        	<div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Todo Items
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="target: ${resultList}">
							<td th:text="${target.id}"></td>
							<td th:text="${target.name}"></td>
							<td th:text="${target.description}"></td>
							<td>
						    	<a th:href="@{/todo/delete(id=${target.id})}">Delete</a>
						    </td>
						</tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->
    
   	<script layout:fragment="custom-script">
    	$(function() {
    		var validator = $("#todoForm").validate({
   			  rules: {
   			    name:{ required: true , maxlength: 50}
   			    ,description:{ maxlength: 100}
   			  }
   			})
    	});
   </script>
</body>

</html>
